<div class="backgroundIndex">
  <div class="container">
    Курс сделает из вас настоящего программиста. Состоит из двух частей: сначала вы изучаете теорию и программируете в парах, а затем создаете реальные проекты в командах.

    Bootcamp — методика, которую использовали в лагерях для подготовки солдат. Чтобы стать полноценным бойцом, в обычных условиях новобранцу нужно 3-4 года. В условиях Bootcamp такого результата достигали за 4 месяца. Эффективность методики обоснована тем, что на период кемпа человек полностью погружается в процесс обучения и быстрей воспринимает информацию. Сейчас этот метод обучения активно используют в Гарварде, IT-компаниях, бизнес-проектах и образовательных программах.

    Elbrus Coding Bootcamp предлагает вам комфортную и функциональную среду для обучения программированию. Наш кампус располагается в одном из самых оживлённых районов Москвы, в десяти минутах ходьбы от метро Ленинский проспект. Мы рады сообщить об открытии нового кампуса в центре Санкт-Петербурга. В кампусе Elbrus есть уютная кухня и зона отдыха. В отдельной комнате для преподавателей можно обсуждать рабочие проекты с наставником, не отвлекая от работы остальных.
  </div> 
</div>
