<script defer src="./js/leaderboard.js"></script>
<!-- Здесь помещаются JS файлы. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Создать игру
  </button>
<br>
<br>
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->

        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Новая Игра</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form name="createNewGameForm" method="POST" action="/leaderboard">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Игра:</label>
            <input type="text" class="form-control" id="gameName" name="gameName"placeholder="Киккер или Настольный Теннис" data-game="game">
          </div>
         <div class="form-group">
            <label for="recipient-name" class="col-form-label">Победитель:</label>
            <h2 id="vinnerName">--->Cюда выводим победителя{{vinner}}</h2>
          </div>
           <div class="form-group">
            <label for="recipient-name" class="col-form-label">Выбери оппонента:</label>
            <select class="custom-select" name="fio" id="opponentNameSelect" multiple>
              {{!-- {{#each userName}} --}}
               <option value="{{this._id}}">---->тут будет список{{this.name}}</option>
              {{!-- {{/each}} --}}
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Счёт:</label>
            <input type="text" class="form-control" id="gameRank" placeholder="Введи счёт игры">
          </div>
        </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить игру!</button>
      </div>
      </div>
    </div>
 </div>

 
 <div class="game">
  <table class="table table-hover table-dark" >
  <thead>
    <tr><h3>Киккер</h3></tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя победителя</th>
      <th scope="col">Оппонент</th>
      <th scope="col">Счёт</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>

<br>
<br>

<div class="game">
 <table class="table table-hover table-dark">
  <thead>
    <tr><h3>Настольный теннис</h3></tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя победителя</th>
      <th scope="col">Оппонент</th>
      <th scope="col">Счёт</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>
