<h2>Аутентификация</h2>
{{!-- <form action="/login" method="post">
  <input type="email" placeholder="e-mail:" name="email">
  <input type="password" placeholder="Пароль:" name="pass">
  <button type="submit">Войти</button>
</form> --}}

{{msg_login}}