<img src="https://cdn.pixabay.com/photo/2018/01/17/07/06/laptop-3087585_1280.jpg" alt="user logo" width="150px" height="100px">
<div class="aboutme">Основная информация
  <a href="profile/edit"><button>Редактировать</button></a>
</div>
<div id="name">имя</div>
<div id="surname">фамилия</div>
<div id="gender">пол</div>
<div id="birthday">день рождение</div>
<div id="useremail">имейл</div>
<div id="userstatus">статус</div>
<div class="records">Records</div>
<div id="pongrecords">массив игр</div>
<div id="kickrecords">массив игр</div>
<div id="pulluprecords">массив значений</div>
<a href="profile/edit"><button>Редактировать</button></a>
