<form id="red" data-id="{{this.idSched}}" data-red="{{this.idScheds}}">
  <div class="form-row">
    <div class="col">
      <input type="text" name="textValue" class="form-control" value="{{this.timeLesson}}"
        placeholder="Введите название занятия">
    </div>
    <div class="col">
      <input type="text" name="teims" class="form-control" value="{{this.nameLesson}}" placeholder="Укажите время">
    </div>
  </div>
  <div class="col">
    <button type="text" class="form-control">Изменить</button>
  </div>
  </div>
</form>
<script defer src="/js/redSchedules.js"></script>