<<<<<<< HEAD
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div.game {
    display: flex;
    justify-content: center;
<<<<<<< HEAD
}


/* .wrapper {
    width: 100%;
    height: 40vh;
    background-image: url(/img/IMG_2556.jpg);
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
} */

.wrapper {
    display: column;
    justify-content: center;
    width: 100%;
    height: 371px;
    background-image: url(/img/IMG_2556.jpg);
    background-blend-mode: multiply;
    background-color: ##e9ecef;
    ;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 2em;
}

@media (min-width: 1001px) {
    #top {
        font-size: 3em;
    }
}

@media (max-width: 1000px) and (min-width: 651px) {
    #top {
        font-size: 2em;
    }
}

@media (max-width: 650px) {
    #top {
        font-size: 1.3em;
        padding-top: 50%;
    }
}

#top h1 {
    color: #ccc;
    padding-top: 20%;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(80, 80, 80);
=======
=======
/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.cmenu {
  font-size: 25px;
  /* margin-right: 50px; */
  margin-right: 50px, 40, 30;
>>>>>>> 7fa47663b17fd229694eaaabcfc65257eae17adb
>>>>>>> be1530ba00c9ca48b4c653f3609a025873736a09
}